
.main-section
    background-color: $second-bg-color
    flex-grow: 1

    &__title
        background-color: $main-bg-color
        border-bottom: 1px solid $border-color
        height: 44px
        box-sizing: border-box
        padding: 11px 15px
        font-family: 'Roboto', sans-serif
        font-weight: 400
        font-size: 18px
        line-height: 21px
        color: $main-color
        display: flex
        margin: 0
        &::after
            content: ''
            display: block
            width: 1px
            height: 44px
            background-color: $border-color
            margin: -11px 0 0 15px
