.level-cell
    display: flex
    align-items: center
    padding: 0 34px 0 12px
    border-top: 1px solid #414144
    box-sizing: border-box
    height: 60px

    &__wrapper
        position: relative

    &__button
        position: relative
        width: 24px
        height: 24px
        background-position: center center
        background-repeat: no-repeat
        background-size: 24px
        cursor: pointer
        background-color: transparent
        border: none
        background-image: url('../../../../../../assets/icon/record.svg')

    &__horizontal-line
        position: absolute
        left: -8px
        top: 12px
        height: 1px
        width: 12px
        background-color: #c6c6c6

    &__vertical-line
        position: absolute
        width: 1px
        top: 20px
        left: 11px
        background-color: #c6c6c6
